ODDS_API_KEY=
HUGGING_FACE_API_KEY=
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=
BEARER_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
SELECTED_MODEL=mlb4year
FEATURE_ORDER=order2
DATA_PATH=data/predictions.xlsx
DATA_SHEET_PATH=data/predictions.xlsx
PREDICTIONS_DB_PATH=data/predictions.db
